/* busqueda.css */
.busqueda {
  padding: 4rem 1rem;
  text-align: center;
}

.busqueda-input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  width: 250px;
}

.busqueda-button {
  padding: 12px 24px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.busqueda-button:hover {
  background-color: var(--primary-hover-color);
}

.busqueda-mensaje {
  margin-top: 1rem;
  font-size: 1.125rem;
}
