/* index.css */
:root {
  /* Otros ajustes tipográficos o de layout que puedan complementar */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

body {
  height: 100vh;
  background-color: var(--background-light);
  color: var(--text-dark);
}


.MainPageLayout {
  height: 120vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
    "Sidebar Navbar"
    "Sidebar MainContent";
}

.Sidebar {
  grid-area: Sidebar;
}

.Navbar {
  grid-area: Navbar;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}

.MainContent {
  grid-area: MainContent;
  overflow-y: auto;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}
