.Navbar {
  grid-column: 2/-1;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.Navbar > div {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 6rem;
  height: 100%;
}

.Navbar > div > button.navBarBtn {
  background-color: transparent;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.navBarBtn > img {
  margin: 0;
  padding: 0;
  height: 25px;
  filter: brightness(0) saturate(100%) invert(15%) sepia(1%) saturate(0%)
    hue-rotate(350deg) brightness(95%) contrast(87%);
}

/* Efectos del hover */
.Navbar > div > button.navBarBtn,
.Navbar > div > h2 {
  transition: transform 0.15s ease;
}

.Navbar > div > button.navBarBtn:hover {
  transform: scale(1.15);
}

.Navbar > div > h2:hover {
  transform: scale(1.04);
}

.Navbar > div > button.navBarBtn:active {
  transform: scale(1.2);
}

.logoutBtn {
  appearance: none;
  filter: brightness(0) saturate(100%);
}
