.nuevo-perfil-container {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }
  
  .form-box {
    background: var(--form-bg);
    padding: 2rem;
    box-shadow: var(--box-shadow-card);
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: var(--border-radius-card);
  }
  
  .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-header h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-dark-two);
  }
  
  .submit-btn {
    margin-top: 2rem;
    align-self: center;
    max-width: 200px;
  }
  
  .submit-btn:hover {
    background-color: var(--primary-hover-color);
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  .input-group label {
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-dark-two);
  }
  
  .apellidos {
    display: flex;
    gap: 1rem;
  }
  
  .crearPerfilMSG {
    color: var(--primary-hovr-color) !important;
    text-align: center;
  }