/* signin.css */
.signin {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(rgba(0, 72, 255, 0.357), rgba(0, 72, 255, 0.539)),
    url("../../public/images/general/ImagenSignIn.jpg") no-repeat center center;
  background-size: cover;
}

.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  min-width: 360px;
  max-width: 0.45vw;
  text-align: center;
  background-color: var(--form-bg);
  gap: 1rem;
}

.card-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-light);
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  min-height: 20rem;
  min-width: 320px;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.signin-title {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: #333;
}

/* Formularios y botones específicos */
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div-botones-login {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.btnOne {
  flex: 1;
}

/* Estilos para login de Google */
.login-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--form-bg);
}

.login-google > button {
  background-color: var(--button-grey);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-google > button:hover {
  background-color: var(--button-grey-hover);
}

.login-google > p {
  color: var(--text-dark);
  font-size: 0.75rem;
}

.google-logo {
  height: 1.8rem;
  margin: 0;
  padding: 0;
}

/* error de msg del signin */
.errorEnLogin {
  color: red;
  font-size: 0.6rem;
}

/* estilos para el drop menu */
select#roles {
  height: 50px;
  padding: 0 1rem;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  outline: none;
  appearance: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
  text-align: center;
  text-align-last: center;
}

select#roles:hover {
  border-color: #999;
}

select#roles:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
